{% extends 'base.html.twig' %}

{% block title %}Page de commande
{% endblock %}

{% block body %}
	{{include('navbar.html.twig')}}
	<div class="container mt-5">
		<div class="card">
			<div class="card-header bg-info text-center">
            <h2 class="text-white"> Commande de M/Mlle : {{order.users.name}} </h2>
            </div>
            <div class="card-body">
            <table class="table">
            <th>N° de commande</th>
            <th>Libelle</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Reference</th>
            <th>Total Unitaire</th>
            <tr>
            <td> {{orderDetail.orders.number}} </td>
            <td> {{orderDetail.products.wording}} </td>
            <td> {{orderDetail.price}}</td>
            <td> {{orderDetail.quantity}} </td>
            <td> {{orderDetail.orders.reference}} </td>
            <td> {{orderDetail.quantity * orderDetail.price}} </td>
            </tr>
            </table>
            <select name="" id="" class="btn btn-info offset-4">
            <option value="">Mode de paiement</option>
            <option value="">Mobile money</option>
            <option value="">Carte bancaire</option>
            <option value="">A la livraison</option>
            </select>
            <a href="{{path('payment_index')}}" class="btn btn-outline-success mx-3 col-md-1">Payer</a>
            </div>
		</div>
	</div>
{% endblock %}
